~*
.DS_Store
.vscode/
docs/whitepaper/src/citations/
docs/whitepaper/src/notes.md
docs/ffmpeg

dist/*
target/
lib_managed/
node_modules/
src_managed/
project/boot/
project/plugins/project/
.history
.cache
.lib/