.DS_Store
bundle.min.js
bundle.min.js.map
*.mp3
*.mp4
*.opus
*.webm
simportal-devices.json

~*
.dbs
.vscode/
docs/whitepaper/src/citations/
docs/whitepaper/src/notes.md
docs/ffmpeg
plugin.video.example/
plugin.video.youtube/
vision/cortex/docs/
vision/monocle/docs/api

target/
lib_managed/
node_modules/
src_managed/
project/boot/
project/plugins/project/
.history
.cache
.lib/
.env